# -------------------------------------------------------
# Exclude all directories and files
# -------------------------------------------------------
/*

# -------------------------------------------------------
# Include next directories and files
# -------------------------------------------------------
!/src/
!/.gitignore